<div class="faq-container">
  <div class="left-block medium-up--one-third">
    <h2 class="header">FAQ headline here.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="right-block medium-up--one-half">
    <div class="question-and-answer">
      <h3 class="question">Frequently asked question number one will go here</h3>
      <p class="answer">Then the answer to that frequently asked question will go here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="question-and-answer">
      <h3 class="question">Frequently asked question number two will go here</h3>
      <p class="answer">Then the answer to that frequently asked question will go here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="question-and-answer">
      <h3 class="question">Frequently asked question number three will go here</h3>
      <p class="answer">Then the answer to that frequently asked question will go here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <a class="read-more" href="#">Read More FAQs</a>
  </div>
</div>