<div class="the-stitch-mill-container">
  <div class="inner">
    <h2 class="header">The Stitch Mill</h2>
    <p class="blurb">
      The Stitch Mill, founded by designer Anne Mills in upstate New York, was created to provide fun and contemporary cross stitch kits and patterns to a new generation of needleworkers. After requests to purchase her original patterns, Mills decided to open up shop and make her work available to everyone. All patterns are still designed and stitched by her.
    </p>
    <p class="blurb">Products will ship within 3-5 business days.</p>
  </div>
</div>